
.clearfix:after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
.clearfix {
    min-height: 1px; /*IE6、7対策*/
}

.separator1 {
	width: 896px;
	height: 1px;
	background-color: #dddddd;
	margin: 0 auto;
	border: none;
}

.separator2 {
	width: 100%;
	height: 8px;
	background-image: url(headbg.png);
	margin: 0;
	border: none;
}

.img_fleft {
	float: left;
	margin: 24px 32px 24px 0;
}

.img_fright {
	float: right;
	margin: 24px 0 24px 32px;
}

a {
	text-decoration: none;
	color: #0095d9;
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	color: #222222;
	line-height: 1.7;
}

body {
	background-color: #f2f2f2;
}

.h_border13 {
	width: 13em;
	border-bottom: solid #222222 1px;
}

.h_study {
	border-bottom: solid #d9333f 2px;
}

.h_gagaku {
	border-bottom: solid #f08300 2px;
}

.h_kagura {
	border-bottom: solid #028760 2px;
}

.h_tour {
	border-bottom: solid #0095df 2px;
}

#container {
	width: 928px;
	padding: 0 16px;
	margin: 16px auto;
	background-color: #ffffff;
	border-right: solid #cccccc 1px;
	border-bottom: solid #cccccc 1px;
}

#global_header {
	width: 100%;
	/*background-color: #e83929;*/
	background-color: #ffffff;
	padding: 16px 0 4px;
}

#global_header h1 {
	width: 960px;
	font-weight: normal;
	font-size: 2.8em;
	margin: 0 auto;
}

#global_header h1 a {
	color: #222222!important;
}

#global_header small {
	font-size: 0.6em;
}

#global_header img {
	vertical-align: middle;
}

#navigator {
	font-size: 1.4em;
	font-weight: bold;
	width: 100%;
	background-color: #ffffff;
	border-top: solid #ffffff 1px;
	border-bottom: solid #cccccc 1px;
	/*
	background-image: url(navbg.png);
	background-repeat: repeat-x;
	background-size: 2.4em;*/
}

#navigator ul {
	height: 2.4em;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#navigator li {
	float: left;
	list-style-type: none;
}

#navigator li a {
	color: #222222;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 2.4em;
	width: 10em;
}

#navigator li a:hover {
	color: #ffffff;
	background-color: #555555;
}

#index_top {
	clear: both;
	margin: 0;
	padding: 28px 0 32px;
}

.box1 {
	width: 200px;
	margin: 0 16px;
	float: left;
}

.box1 h2 {
	font-size: 2em;
	margin: 0px 0 4px 0;
	padding-left: 10px;
}

.box1 p {
	font-size: 1.4em;
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
}

#index_middle {
	margin: 0;
	padding: 16px 0;
	clear: both;
}

#index_middle_left {
	width: 432px;
	float: left;
	padding: 0 16px;
}

#index_middle h3, #index_bottom h3 {
	font-size: 2.2em;
	margin-bottom: 5px;
	border-left: solid #ffd900 2px;
	padding-left: 14px;
}

#index_middle p, #index_bottom p {
	font-size: 1.4em;
	margin: 10px 0 0 0;
	padding-left: 16px;
}

#index_middle_right {
	width: 432px;
	float: left;
	padding: 0 16px;
}

#index_middle_right li {
	font-size: 1.4em;
}

#newsbox ul {
	list-style-type: none;
	margin: 10px 0 0;
	padding-left: 17px;
}

#newsbox li {
	margin: 4px 0;
}

#index_bottom {
	clear: both;
	padding: 0 16px 32px;
}

#global_footer {
	clear: both;
	margin: 0;
}

#global_footer p {
	margin: 0;
	font-size: 1.4em;
	padding: 10px 20px;
}

#normal_content {
	padding: 16px;
}

#normal_content h2 {
	font-size: 2.2em;
	margin: 32px 0 16px;
	padding: 0 14px 0;
	border-left: solid #ec6800 3px;
}

#normal_content h3 {
	font-size: 2em;
	margin: 32px 0 16px 16px;
	padding: 0 14px 0;
	border-left: solid #ffd900 2px;
}

#normal_content p {
	font-size: 1.4em;
	padding: 0 32px;
}

#bread p {
	font-size: 1.4em;
	padding: 0!important;
}
